html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #261F28; /* dark background */
  color: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #261F28; /* dark background */
}

.logo {
  font-size: 38px;
  color: #8E4CB7; /* title color */
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-item {
  color: #FFFFFF; /* text and link color */
  text-decoration: none;
  margin-left: 30px;
  font-size: 26px;
  position: relative;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #8E4CB7; /* title color */
  transition: width .3s;
}

.nav-item:hover::after {
  width: 100%;
}

/*  -------------------------------- */

.main-content {
  flex-grow: 1; /* Take up the remaining space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack vertically */
}

.about-section {
  display: flex;
  align-items: center; /* Ensures vertical alignment of items inside the section */
  justify-content: center; /* Center horizontally in the container */
}

.logo-container {
  padding: 10px; 
  margin: 20px;
  background-color: #61D6AC; /* logo background */
  border-radius: 40px; /* Adjust radius as per your design */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px; /* Set a maximum width for the logo container */
  max-height: 200px; /* Set a maximum height for the logo container */
}

.logo-container img {
  max-height: 100%; /* Ensures the logo height does not exceed the container */
  max-width: 100%; /* Ensures the logo width does not exceed the container */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}

/* Since we want the logo to match the height of the text on the right */
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Match the height of the logo to the height of the info-container */
.about-section, .description-section {
  max-width: 800px; /* Adjust this value to match the width of the above section */
  margin: 0 auto; /* Center the sections within their container */
  display: flex;
  align-items: center;
  padding: 20px; /* Match the padding to the above section */
}

/* You may also want to ensure that the .about-section does not stretch too wide */

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing as per your design */
  font-size: 22px; /* Adjust font size as needed */
  line-height: 1.5; /* This is standard for legibility */
}

.info-icon {
  height: 3em; /* This should be roughly the height of two lines of text */
  width: auto; /* This will maintain the aspect ratio of the image */
  margin-right: 10px;
}


.highlight {
  color: #61D6AC; /* highlighted text color */
  font-weight: bold;
}

.highlight:hover {
  color: #76eec2; /* highlighted text color */
}

/* ------------------------- */

.description-section p {
  flex: 1; /* Ensure the paragraph takes up all available space */
  margin: 0 20px; /* Match the left and right margins to the above section */
}
.description-icon {
  margin-right: 20px; /* Ensure this matches the margin between the text and icon in the about section */
}

.description-section p {
  font-family: Arial, sans-serif; /* Common font */
  font-size: 22px; /* Adjust the font size as needed */
  line-height: 1.6; /* Standard line-height for readability */
  margin: 0; /* Remove default paragraph margin */
}

.description-section strong {
  color: #61D6AC; /* highlighted text color */
}

@media (min-width: 768px) {
  .about-section {
      padding: 20px;
      justify-content: space-around; /* Adjust the space around items */
  }
  .description-section {
    flex-direction: column; /* Stack icon and text on smaller screens */
  }
  
  .description-icon {
    margin-bottom: 10px; /* Space between the icon and text when stacked */
  }
}

/* Additional styles may be needed for responsiveness and exact sizing */
